<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="description" content="乐淘是中国最大的正品运动鞋、皮鞋网上专卖。乐淘网经营的品牌包括耐克、阿迪达斯、李宁、匡威等国内外知名品牌的篮球鞋,板鞋,休闲鞋,跑步鞋,帆布..."/>
    <meta name="Keywords" content="乐淘 乐淘鞋城 买鞋子 上乐淘 运动鞋 篮球鞋 帆布鞋 跑步鞋 男鞋 女鞋 足球鞋 休闲鞋 凉鞋 户外鞋 布洛克 高跟鞋 单鞋 豆豆鞋 乐福鞋 牛津鞋 凉拖 皮鞋 短靴 长靴 登山鞋 徒步鞋 硫化鞋 训练鞋 溯溪鞋 越野鞋 板鞋 足球鞋 网球鞋 赛车鞋 雪地靴 马丁靴 商务 英伦"/>
    <title>传淘-分类页</title>
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico"/>
    <link rel="stylesheet" href="assets/mui/css/mui.min.css"/>
    <link rel="stylesheet" href="assets/fa/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/category.css"/>
</head>
<body>
    <div class="container">
        <header class="topbar">
            <form><input type="search"/></form>
            <a class="right" href="search.html"><span class="fa fa-search"></span></a>
        </header>
        <div class="content">
            <!--一级分类区域-->
            <div class="first_ca">

                <div class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <ul>
                            <!--待渲染-->
                        </ul>
                    </div>
                </div>
                <!--左侧标签渲染模板-->
                <script type="text/arttemplate" id="topCate">
                    <% for(var i=0;i<rows.length;i++){ %>
                        <li class="<%=i==0?'now':''%>" data-id="<%=rows[i].id%>"><a href="#"><%=rows[i].categoryName%></a></li>
                    <% } %>
                </script>
            </div>
            <!--右侧二级分类区-->
            <div class="second_ca">
                <div class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <div class="ca_content">
                            <!--待渲染-->
                            <ul class="mui-clearfix">
                            </ul>
                            <!--右侧页面渲染模板-->
                            <!--
                            <% for(var i=0;i<rows.length;i++) {%>
                                    <li>
                                        <a href="#">
                                            <img src="<%=rows[i].brandLogo%>" alt="<%=rows[i].brandName%>"/>
                                            <p><%=rows[i].brandName%></p>
                                        </a>
                                    </li>
                                    <% } %>
                            -->
                            <script type="text/arttemplate" id="ca_content">
                                <% if(rows.length>0){ %>
                                    <% for(var i=0;i<rows.length;i++) {%>
                                    <li>
                                        <a href="#">
                                            <img src="<%=rows[i].brandLogo%>" alt="<%=rows[i].brandName%>"/>
                                            <p><%=rows[i].brandName%></p>
                                        </a>
                                    </li>
                                    <% } %>
                                <% }else{ %>
                                    <h4>暂无内容,我们会尽快更新哦</h4>
                                    <h4><%=rows.length%></h4>
                                <% } %>

                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--底部页签-->
        <footer class="tab_control">
            <a href="index.html"><span class="fa fa-home"></span><p>首页</p></a>
            <a class="now" href="javascript;"><span class="fa fa-bars"></span><p>分类</p></a>
            <a href="cart.html"><span class="fa fa-shopping-cart"></span><p>购物车</p></a>
            <a href="user.html"><span class="fa fa-user"></span><p>个人中心</p></a>
        </footer>
    </div>

<!--第三方依赖-->
<script src="assets/mui/js/mui.min.js"></script>
<script src="assets/artTemplate/template-native.js"></script>
<script src="assets/zepto/zepto.min.js"></script>
<script src="js/common.js"></script>
<script src="js/category.js"></script>
</body>
</html>